<section class="about-container section" id="about">
  <div class="container section-about">
    <h2 class="about-title">Чому Хатинка Лапок</h2>

    <!-- Swiper -->
    <div class="swiper about-js">
      <div class="swiper-wrapper swiper-wrapper-about"></div>

      <div class="btn-container">
        <button class="swiper-button-prev testL" type="button">
          <svg class="story-button-icon" width="24" height="24">
            <use href="./public/icon/sprite.svg#icon-back"></use>
          </svg>
        </button>

        <button class="swiper-button-next testR" type="button">
          <svg class="story-button-icon" width="24" height="24">
            <use href="./public/icon/sprite.svg#icon-forward"></use>
          </svg>
        </button>
      </div>
      <div class="swiper-pagination swiper-pagination-about customP"></div>
    </div>
  </div>
</section>
