<section class="about-container section">
  <div class="container section-about">
    <h2 class="about-title">Чому Хатинка Лапок</h2>

    <!-- Swiper -->
    <div class="swiper about-js">
      <div class="swiper-wrapper"></div>

      <div class="controll-full-container">
        <!-- пагінація -->
        <div class="swiper-pagination customP"></div>

        <!-- стрілки -->
        <div class="controll-container">
          <div class="swiper-button-prev testL"></div>
          <div class="swiper-button-next testR"></div>
        </div>
      </div>
    </div>
  </div>
</section>
