<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo"></div>

    <ul class="footer-list">
      <li><a class="footer-link" href="#">Про нас</a></li>
      <li><a class="footer-link" href="#">Знайди друга</a></li>
      <li><a class="footer-link" href="#">Часті запитання</a></li>
      <li><a class="footer-link" href="#">Історії успіху</a></li>
    </ul>

    <ul class="social-list">
      <li><a href="#"> </a></li>

      <li><a href="#"> </a></li>
    </ul>

    <p class="footer-text">© 2025 Хатинка лапок. Всі права захищені.</p>
  </div>
</footer>
