<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo"></div>

    <ul class="footer-list">
      <li><a class="footer-link" href="#about">Про нас</a></li>
      <li><a class="footer-link" href="#pets">Знайди друга</a></li>
      <li><a class="footer-link" href="#faq">Часті запитання</a></li>
      <li><a class="footer-link" href="#stories">Історії успіху</a></li>
    </ul>

    <ul class="social-list">
      <li>
        <a>
          <svg class="social-icon" width="24" height="24">
            <use href="./public/icon/sprite.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>

      <li><a href="#"> </a></li>
    </ul>

    <p class="footer-text">&#169; 2025 Хатинка лапок. Всі права захищені.</p>
  </div>
</footer>
