<footer class="footer">
  <div class="footer-container">
    <a class="footer-logo" href="#hero">
      <svg class="footer-logo-icon" width="100" height="99">
        <use href="./public/icon/sprite.svg#icon-icon-paw"></use>
      </svg>
      <svg class="footer-logo-icon" width="184" height="72">
        <use href="./public/icon/sprite.svg#icon-icon-inscription"></use>
      </svg>
    </a>

    <ul class="footer-list">
      <li><a class="footer-link" href="#about">Про нас</a></li>
      <li><a class="footer-link" href="#pets">Знайди друга</a></li>
      <li><a class="footer-link" href="#faq">Часті запитання</a></li>
      <li><a class="footer-link" href="#stories">Історії успіху</a></li>
    </ul>

    <ul class="social-list">
      <li>
        <a
          href="https://www.facebook.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Facebook"
        >
          <svg class="social-icon" width="32" height="33">
            <use href="./public/icon/sprite.svg#icon-Facebook"></use>
          </svg>
        </a>
      </li>

      <li>
        <a
          href="https://www.instagram.com/"
          target="_blank"
          rel="noopener noreferrer"
          aria-label="Instagram"
        >
          <svg class="social-icon" width="32" height="33">
            <use href="./public/icon/sprite.svg#icon-Instagram"></use>
          </svg>
        </a>
      </li>
    </ul>

    <p class="line"></p>

    <p class="footer-text">&#169; 2025 Хатинка лапок. Всі права захищені.</p>
  </div>
</footer>
