<header class="header">
  <div class="container header-container">
    <div class="logo-nav">
      <a class="logo" href="./index.html">
        <svg width="54" height="52" aria-label="logo">
          <use href="./public/icon/sprite.svg#icon-icon-paw"></use>
        </svg>
      </a>
      <a class="logo" href="./index.html">
        <svg width="98" height="38" aria-label="logo">
          <use href="./public/icon/sprite.svg#icon-icon-inscription"></use>
        </svg>
      </a>
      <nav class="nav">
        <ul class="nav-list">
          <li class="nav-item">
            <a class="nav-link" href="#pets">Знайди друга</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">Про нас</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#faq">Часті запитання</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#stories">Історії успіху</a>
          </li>
        </ul>
      </nav>
    </div>

    <button class="mobile-menu-btn" type="button" aria-label="Open mobile menu">
      <svg class="mobile-menu-icon" width="25" height="24">
        <use href="./public/icon/sprite.svg#icon-icon-menu"></use>
      </svg>
    </button>
    <button class="header-btn btnfirst" type="button">Взяти друга</button>
  </div>
</header>
