<section class="hero section">
  <picture>
    <img src="../img/hero/hero-mob-2x.webp" alt="" />
    <source
      srcset="./img/hero/hero-desk-2x.webp 2x, ./img/hero/hero-desk-1x.webp 1x"
      media="(min-width: 1440px)"
      type="image/webp"
    />
    <source
      srcset="./img/hero/hero-tab-2x.webp 2x, ./img/hero/hero-tab-1x.webp 1x"
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="./img/hero/hero-mob-2x.webp 2x, ./img/hero/hero-mob-1x.webp 1x"
      type="image/webp"
    />
    <img src="./img/hero/hero-mob-1x.webp" alt="Hero image" class="hero-img" />
  </picture>

  <div class="container hero-container">
    <h1 class="hero-title">
      Кожне життя має значення. Знайди свого вірного друга.
    </h1>
    <p class="hero-text">
      Сотні котиків та собачок у притулку Хатинка Лапок чекають на свою родину.
      Подаруйте їм дім.
    </p>

    <button class="btnfirst hero-btn" href="#stories">Подивитись історі</button>
  </div>
</section>
