<section class="hero section">
  <picture>
    <source
      srcset="
        ./public/_@2x-min.hero.desck.webp 2x,
        ./public/_@1x-min.hero.desck.webp 1x
      "
      media="(min-width: 1440px)"
      type="image/webp"
    />
    <source
      srcset="
        ./public/_@2x-min.hero.tab.webp 2x,
        ./public/_@1x-min.hero.tab.webp 1x
      "
      media="(min-width: 768px)"
      type="image/webp"
    />
    <source
      srcset="
        ./public/_@2x-min.hero.mob.webp 2x,
        ./public/_@1x-min.hero.mob.webp 1x
      "
      type="image/webp"
    />
    <img
      src="./public/_@1x-min.hero.mob.webp"
      alt="Hero image"
      class="hero-img"
    />
  </picture>

  <div class="container hero-container">
    <h1 class="hero-title">
      Кожне життя має значення. Знайди свого вірного друга.
    </h1>
    <p class="hero-text">
      Сотні котиків та собачок у притулку Хатинка Лапок чекають на свою родину.
      Подаруйте їм дім.
    </p>

    <button class="btnfirst hero-btn" href="#stories">Подивитись історі</button>
  </div>
</section>
