<div class="mobile-menu" id="mobileMenu" aria-hidden="true">
  <div class="mobile-menu-header">
    <a class="logo" href="#">
      <svg width="52.61" height="51.73" aria-label="logo">
        <use href="./img/sprite.svg#icon-icon-paw"></use>
      </svg>
    </a>
    <button class="mobile-menu-close" id="" aria-label="Закрити меню">
      <svg class="mobile-menu-icon" width="24" height="24">
        <use href="./img/sprite.svg#icon-icon-close"></use>
      </svg>
    </button>
  </div>
  <nav class="mobile-nav">
    <ul class="mobile-nav-list">
      <li><a class="nav-link" href="#pets">Знайди друга</a></li>
      <li><a class="nav-link" href="#about">Про нас</a></li>
      <li><a class="nav-link" href="#faq">Часті запитання</a></li>
      <li><a class="nav-link" href="#stories">Історії успіху</a></li>
    </ul>
  </nav>
  <button class="header-btn mobile-nav-btn">Взяти друга</button>
</div>
