<section id="stories" class="stories section">
  <div class="container">
    <div class="stories-heading">
      <h2 class="stories-title">Щасливі історії, що надихають</h2>

      <p class="stories-text">
        Ці хвостики вже знайшли свій дім. Ваш майбутній друг теж чекає на вас
      </p>
    </div>

    <div class="swiper-story">
      <div class="swiper-wrapper-story" role="list">
        <div class="swiper-slide-story" role="listitem">
          <div class="story-card">
            <div class="story-rating">Рейтінг</div>
            <p class="story-review">
              Ми довго вагалися, чи готові до собаки, але коли побачили на сайті
              Хатинки фото Арчі, зрозуміли — це наш. Тепер ми не уявляємо ранків
              без його веселого гавкоту та вечорів без спільних прогулянок. Він
              приніс у наш дім стільки сміху та любові! Дякуємо "Хатинці лапок"
              за нашого найкращого друга.
            </p>
            <p class="story-author">Марина та Сергій</p>
          </div>
        </div>
      </div>

      <div class="swiper-navigation-story">
        <div class="swiper-pagination-story"></div>

        <div class="navigation-buttons-story">
          <button class="story-button-prev" type="button">
            <svg class="story-button-icon" width="24" height="24">
              <use href="../img/sprite.svg#icon-back"></use>
            </svg>
          </button>

          <button class="story-button-next" type="button">
            <svg class="story-button-icon" width="24" height="24">
              <use href="../img/sprite.svg#icon-forward"></use>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
