/*  */

/* .about-container {
  height: 927px;
} */

.about-js {
  /* background-image: linear-gradient(rgba(0 0 0 / 18%), rgba(0 0 0 / 63%)),
    url(../img/about/mobile-photo/mobile1x-photo1.jpg); */
  padding: 0 20px 20px 20px;
  display: flex;
  align-items: end;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .about-js {
    /* background-image: linear-gradient(rgba(0 0 0 / 18%), rgba(0 0 0 / 63%)),
      url(../img/about/mobile-photo/mobile2x-photo1.jpg); */
  }
}

@media only screen and (min-width: 768px) {
  .about-js {
    /* background-image: linear-gradient(rgba(0 0 0 / 18%), rgba(0 0 0 / 63%)),
      url(../img/about/tablet-photo/tablet1x-photo1.jpg); */
    min-height: 404px;
    padding: 0 124px 32px 32px;
  }
}

@media only screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .about-js {
    /* background-image: linear-gradient(rgba(0 0 0 / 18%), rgba(0 0 0 / 63%)),
      url(../img/about/tablet-photo/tablet2x-photo1.jpg); */
  }
}

@media only screen and (min-width: 1440px) {
  .about-js {
    /* background-image: linear-gradient(rgba(0 0 0 / 18%), rgba(0 0 0 / 63%)),
      url(../img/about/desktop-photo/desktop1x-photo1.jpg); */
    /* padding: 0 64px 64px 64px; */
    /* width: 100%; */
    /* height: 753px; */
    /* margin: 0 auto; */
  }
}

@media only screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .about-js {
    /* background-image: linear-gradient(rgba(0 0 0 / 18%), rgba(0 0 0 / 63%)),
      url(../img/about/desktop-photo/desktop2x-photo1.jpg); */
  }
}

/* .section-about {
  max-height: 616px;
} */

/* @media only screen and (min-width: 768px) {
  .section-about {
    max-height: 539px;
  }
}

@media only screen and (min-width: 1440px) {
  .section-about {
    width: 1312px;
    height: 927px;
  }
} */

.about-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: var(--color);
  padding-top: 80px;
  padding-bottom: 40px;
}

@media only screen and (min-width: 1440px) {
  .about-title {
    font-size: 48px;
  }
}

.about-text {
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--background-color);
  width: 295px;
  display: flex;
}

@media only screen and (min-width: 768px) {
  .about-text {
    width: 548px;
    height: 72px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-text {
    font-size: 18px;
    /* width: 548px; */
    height: 108px;
  }
}

.about-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

@media only screen and (min-width: 1440px) {
  .about-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0 0 0 / 18%), rgba(0 0 0 / 63%));
    z-index: 1;
    border-radius: 8px;
  }
}

.about-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0 0 0 / 18%), rgba(0 0 0 / 63%));
  z-index: 1;
  border-radius: 8px;
}

.about-id {
  /* width: 295px;
  height: 144px; */

  /* position: absolute;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column; */
}

.qwe {
  display: flex;
  justify-content: center;
  align-items: end;
  color: #fff;
  padding: 0px 20px 20px 20px;
}

@media only screen and (min-width: 1440px) {
  .about-id {
    position: absolute;
    width: 548px;
    bottom: 64px;
    left: 63.5px;
    color: #fff;
    border-radius: 8px;
    font-size: 18px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
  }
}

@media only screen and (max-width: 767px) {
  .about-id {
    /* width: calc(100% - 40px); */
    left: 20px;
    right: 20px;
  }
}

@media only screen and (min-width: 768px) {
  .about-id {
    left: 32px;
    right: auto;
    width: 548px;
  }
}

@media only screen and (min-width: 1440px) {
  .about-id {
    left: 64px;
    width: 548px;
  }
}

.swiper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiper-wrapper {
  width: 100%;
  position: relative;
}

.swiper-pagination {
  position: static !important;
  /* margin-top: 16px !important; */
  text-align: center !important;
  /* padding-top: 48px; */
}

.swiper-pagination-bullet-active {
  background-color: black !important;
}

.swiper-button-prev {
  width: 48px;
  height: 48px;
  padding: 12px;

  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #c3b49d;
  background: #eee9e3;
}

.testL {
  position: static !important;
}

.testR {
  position: static !important;
}

.controll-container {
  padding-top: 40px;
  display: flex;
  gap: 8px;
}

.controll-full-container {
  min-width: 48px;

  min-height: 48px;
  display: flex;

  justify-content: space-between;
}

.customP {
  align-items: center;
  display: flex;
  text-align: center;
  max-width: fit-content;
}

.swiper-button-next {
  width: 48px;
  height: 48px;
  padding: 12px;

  display: flex;
  padding: 12px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  border: 1px solid #c3b49d;
  background: #eee9e3;
}
