:root {
  --font-family: 'IBM Plex Sans', sans-serif;
  --font-weight: 400;
  --font-size: 16px;
  --line-height: 1.5;
  --color: #02060a;
  --background-color: #f6f4f1;

  --btnfirst-bg: #88765c;
  --btnfirst-color: #fff;
  --btnfirst-hover-bg: #c3b49d;
  --btnfirst-hover-color: #02060a;

  --btnsecond-bg: #eee9e3;

  --btnsecond-hover-bg: #c3b49d;
  --btnsecond-hover-color: #02060a;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
  background-color: var(--background-color);
  margin: 0;
}

button.btnfirst {
  border: 1px solid #88765c;
  border-radius: 8px;
  background-color: var(--btnfirst-bg);
  color: var(--btnfirst-color);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button.btnfirst:hover,
button.btnfirst:focus {
  border: 1px solid #02060a;
  border-radius: 8px;
  background-color: var(--btnfirst-hover-bg);
  color: var(--btnfirst-hover-color);
}

button.btnsecond {
  border: 1px solid #02060a;
  border-radius: 8px;
  background-color: var(--btnsecond-bg);
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

button.btnsecond:hover,
button.btnsecond:focus {
  background-color: var(--btnsecond-hover-bg);
  color: var(--btnsecond-hover-color);
}
