:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  font-family: 'IBM Plex Sans', 'Open Sans', 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #02060a;
  background-color: #f6f4f1;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  line-height: var(--line-height);
  color: var(--color);
  background-color: var(--background-color);

  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

button {
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 8px 20px;
  background-color: #88765c;
  color: #fff;
}

button:hover,
button:focus {
  cursor: pointer;
  border: 1px solid #02060a;
  border-radius: 8px;
  padding: 12px 24px;
  background-color: #c3b49d;
  color: #02060a;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
