.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #f6f4f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header-container {
  padding-right: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 8px;
  padding-bottom: 4px;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .header-container {
    padding-right: 32px;
  }
}
@media only screen and (min-width: 1440px) {
  .header-container {
    padding-right: 64px;
  }
}

.logo-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
}

.nav-list {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .nav-list {
    display: flex;
    gap: 32px;
    margin-left: 24px;

    list-style: none;
  }
  .nav-link {
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .nav-link:hover,
  .nav-link:focus {
    border-bottom: 1px solid #443b2e;
    width: 30px;
    height: 24px;
  }
}

.mobile-menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  padding: 12px;
  margin-left: auto;
  background: #f6f4f1;
}
@media only screen and (min-width: 1440px) {
  .mobile-menu-btn {
    display: none;
  }
}

.header-btn {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .header-btn {
    display: flex;
    padding: 8px 20px;
    width: 132px;
    height: 40px;
    color: #fff;
    margin-left: auto;
  }

  .header-btn:hover,
  .header-btn:focus {
    border: 1px solid #02060a;
    background-color: var(--btnfirst-hover-bg);
    color: var(--color);
    transition: 0.3s ease-in-out;
  }
}
