.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1010;
    width: 100%;
    height: 100vh;
    background-color: #f6f4f1;
    opacity: 0;
    pointer-events: none;
}

.mobile-menu-header {
    
}

.logo {}

.mobile-menu-close {}

.mobile-menu-icon {}

.mobile-nav {}

.mobile-nav-list {}

.nav-link {}

.header-btn {}

.mobile-nav-btn {}