.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999999;

  background: #f6f4f1;
  width: 100%;
<<<<<<< HEAD
  height: 100%;
=======
  /* height: 661px;  */
>>>>>>> 6e4c0ee8bfff5ae208f7a38cece46959e50ea867

  height: 100%;
  opacity: 0;
  pointer-events: none;

  transition: opacity 0.3s ease;
  overflow-y: auto;
}

@media only screen and (min-width: 768px) {
  .mobile-menu {
    width: 100%;
  }
}

.mobile-menu.active {
  opacity: 1;
  pointer-events: auto;
}

.mobile-nav-btn {
  display: flex;
  flex-direction: column;
  gap: 32px;

  width: 100%;
  height: 100%;
  padding-bottom: 32px;
}

@media only screen and (min-width: 768px) {
  .mobile-nav-btn {
<<<<<<< HEAD
    align-items: center;
=======
>>>>>>> 6e4c0ee8bfff5ae208f7a38cece46959e50ea867
    width: 100%;
    height: 100%;
  }
}

.mobile-menu-header {
  display: flex;
  flex-direction: row;
  padding-top: 8px;
  padding-bottom: 4px;
  align-items: center;
}

.logo-paw {
  padding-right: 8px;
}

.mobile-menu-close {
  position: absolute;
  background-color: transparent;
  top: 24px;
  right: 18px;
  border: none;
}

@media only screen and (min-width: 768px) {
  .mobile-menu-close {
    right: 38px;
  }
}

.mobile-menu-icon {
  width: 24px;
  height: 24px;
}

.mobile-nav {
  padding-top: 40px;
}

.mobile-nav-list {
  margin: 0 auto;
<<<<<<< HEAD
  width: 100%;
  height: 180px;
=======
  width: 335px;
  height: 180px;

  display: flex;
  align-items: center;
>>>>>>> 6e4c0ee8bfff5ae208f7a38cece46959e50ea867

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
}

.nav-link {
}

.header-btn {
}

.header-btn.mobile-nav-btn {
  border: 1px solid #88765c;
  border-radius: 8px;
  padding: 8px 20px;
  width: 335px;
  height: 37px;
  background: #88765c;
  color: #fff;
  margin: 0 auto;
<<<<<<< HEAD
}

.header-btn.mobile-nav-btn:hover,
.header-btn.mobile-nav-btn:focus {
  border: 1px solid #02060a;
  background-color: var(--btnfirst-hover-bg);
  color: var(--color);
  transition: 0.3s ease-in-out;
}

@media only screen and (min-width: 768px) {
  .header-btn.mobile-nav-btn {
    width: 196px;
    height: 37px;
  }
=======
>>>>>>> 6e4c0ee8bfff5ae208f7a38cece46959e50ea867
}
